.list {
    margin: auto;
    width: 85%;
    padding: 10px;
    min-width: 300px;
    overflow: auto;
}

.square {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    float: left;
}

.row {
    overflow: auto;
}