body{
	
	background: url("backgrounds/tileset/asphalt/asfault_1.jpg");
	
}
#sprite-container-1{
	position:fixed;
	z-index:50;
}
#sprite-container-2{
	position:fixed;
	z-index:50;
}
#sprite-container-3{
	position:fixed;
}